AI_API_KEY=
AI_MODEL=
GEMINI_API_KEY=
HOST=
PORT=
SIGNALING_SERVER_URL=
SMS_SENDER_ID=
STUN_SERVER_URL=
TURN_CREDENTIAL=
TURN_SERVER_URL=
TURN_USERNAME=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
VITE_WEBRTC_STUN_URL=